<% content_for(:title, t('.title')) %>
<div class="mx-auto w-5/6 max-w-lg text-center my-10">
  <div class="card md:card-side bg-base-100 shadow-xl pt-4">
    <figure>
      <%= image_tag current_user.avatar.url, class: 'rounded-full h-24 mt-6 md:ml-10 md:h-32 md:my-auto' %>
    </figure>
    <div class="card-body">
      <h2 class="card-title justify-center"><%= current_user.name %></h2>
      <p><%= current_user.email %></p>
      <div class="card-actions justify-center">
        <div class="my-4">
          <%= link_to t('defaults.edit'), edit_profile_path, class: "text-sm block px-5 py-4 bg-primary hover:opacity-80 rounded-full" %>
        </div>
      </div>
    </div>
  </div>

  <h1 class="w-full text-lg sm:text-2xl font-bold my-10 border-dotted border-b-4 border-purple-200">Pencase</h1>

  <% @pens_with_inks.each do |pen| %>
    <% if pen.ink.present? %>
      <div class="rounded-2xl shadow-xl my-4 bg-base-100">
        <%= link_to pen_path(pen), class: 'flex' do %>
          <div class="flex">
            <div class="w-3/12">
              <%= image_tag pen.pen_image.url, class: 'rounded-tl-2xl' %>
            </div>
            <div class="w-8/12">
              <div class="h-full flex items-center">
                <div class="text-left pl-6">
                  <p class="text-xs sm:text-base mb-2"><%= pen.brand %></p>
                  <p class="text-sm sm:text-lg"><%= pen.name %></p>
                </div>
              </div>
            </div>
            <div class="w-1/12">
              <div class="h-full flex items-center">
                <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
              </div>
            </div>
          </div>
        <% end %>

        <div class="border-dotted border-b-4 border-purple-100"> </div>

        <%= link_to ink_path(pen.ink), class: 'flex' do %>
          <div class="flex">
            <div class="w-3/12">
              <%= image_tag pen.ink.ink_image.url, class: 'rounded-tl-2xl' %>
            </div>
            <div class="w-8/12">
              <div class="h-full flex items-center">
                <div class="text-left pl-6">
                  <p class="text-xs sm:text-base mb-2"><%= pen.ink.brand %></p>
                  <p class="text-sm sm:text-lg"><%= pen.ink.name %></p>
                </div>
              </div>
            </div>
            <div class="w-1/12">
              <div class="h-full flex items-center">
                <svg class="h-6 w-6 fill-current md:h-8 md:w-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  <% end %>

  <% if @pens.present? %>
    <div class="mt-12">
      <%= link_to "＋ 万年筆を選んでインクを入れる", pens_path, class: "text-sm block px-5 py-4 bg-primary hover:opacity-80 rounded-full font-medium outline outline-2 outline-offset-4 outline-primary" %>
    </div>
  <% else %>
    <div class="mt-12">
      <%= link_to "＋ 万年筆を登録", new_pen_path, class: "text-sm block px-5 py-4 bg-primary hover:opacity-80 rounded-full font-medium outline outline-2 outline-offset-4 outline-primary" %>
    </div>
  <% end %>
      
  <div class="my-16">
    <h2 class="w-full text-lg sm:text-2xl font-bold my-6 border-dotted border-b-4 border-purple-200">Links</h2>
    <div class="my-6">
      <%= link_to "My Pens Page", mypage_pens_path, class: "block px-4 py-2 bg-purple-100 border-2 border-purple-200 hover:skeleton rounded-2xl" %>
    </div>
    <div class="my-6">
      <%= link_to "My Inks Page", mypage_inks_path, class: "block px-4 py-2 bg-blue-100 border-2 border-blue-200 hover:skeleton rounded-2xl" %>
    </div>
    <div class="my-6">
      <%= link_to "Favorite Pens Page", favorite_pens_path, class: "block px-4 py-2 bg-fuchsia-100 border-2 border-fuchsia-200 hover:skeleton rounded-2xl" %>
    </div>
    <div class="my-6">
      <%= link_to "Favorite Inks Page", favorite_inks_path, class: "block px-4 py-2 bg-sky-100 border-2 border-sky-200 hover:skeleton rounded-2xl" %>
    </div>
  </div>
</div>