<%= form_with model: pen, local: true, class: "space-y-5" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="flex items-center flex-col mb-6">
    <div class="form-group">
      <%= f.label :pen_image %>
      <%= f.file_field :pen_image, class: 'form-control my-2 mx-auto custom-file-input', accept: 'image/*' %>
      <%= f.hidden_field :pen_image_cache %>
    </div>
    <%= image_tag @pen.pen_image.url,
                  id: 'preview',
                  size: '300x200' %>
  </div>

  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :brand, "Brand <span class='text-primary text-xs'>※必須</span>".html_safe, class: "label-text" %>
    </div>
    <%= f.select :brand, ['パイロット', 'セーラー', 'プラチナ'], { include_blank: 'メーカー名' }, { class: 'select select-bordered w-full' } %>
  </label>

  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :name, "Name <span class='text-primary text-xs'>※必須</span>".html_safe, class: "label-text" %>
    </div>
    <%= f.text_field :name, class: 'input input-bordered w-full', placeholder: "万年筆の名前" %>
  </label> 

  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :nib, class: "label-text" %>
    </div>
    <%= f.select :nib, ['B', 'M', 'F'], { include_blank: 'ペン先' }, { class: 'select select-bordered w-full' } %>
  </label>
  
  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :purchase_date, class: "label-text" %>
    </div>
    <%= f.date_field :purchase_date, class: 'input input-bordered w-full', placeholder: "購入日" %>
  </label>

  <label class="form-control mb-14">
    <div class="label">
      <%= f.label :description, class: "label-text" %>
    </div>
    <%= f.text_area :description, class: 'textarea textarea-bordered w-full h-24', placeholder: "感想などご自由に！" %>
  </label>

  <div class="pt-8">
    <%= f.submit "登録", class: 'btn btn-primary w-full' %>
  </div>
  
<% end %>