<%= form_with model: pen, local: true, class: "space-y-5" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="flex flex-col mb-6">
    <div class="form-group">
      <label class="my-2 btn btn-primary font-medium text-sm text-center">
        <span class="ml-5">画像を選択する</span> 
        <%= f.file_field :pen_image, class: "hidden", accept: 'image/*'  %>
      </label>
      <%= f.hidden_field :pen_image_cache %>
    </div>
    <%= image_tag @pen.pen_image.url,
                  class: 'mx-auto',
                  id: 'preview',
                  size: '300x300' %>
  </div>

  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :brand, "Brand <span class='text-primary text-xs'>※必須</span>".html_safe, class: "label-text" %>
    </div>
    <%= f.select :brand, grouped_options_for_select(Pen::BRANDS, f.object.brand), { include_blank: 'メーカー名' }, { class: 'select select-bordered w-full' } %>
  </label>

  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :name, "Name <span class='text-primary text-xs'>※必須</span>".html_safe, class: "label-text" %>
    </div>
    <%= f.text_field :name, class: 'input input-bordered w-full', placeholder: "万年筆の名前" %>
  </label> 

  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :nib, class: "label-text" %>
    </div>
    <%= f.select :nib, Pen::NIB_SIZES, { include_blank: 'ペン先' }, { class: 'select select-bordered w-full' } %>
  </label>
  
  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :purchase_date, class: "label-text" %>
    </div>
    <%= f.date_field :purchase_date, class: 'input input-bordered w-full', placeholder: "購入日" %>
  </label>

  <label class="form-control mb-14">
    <div class="label">
      <%= f.label :description, class: "label-text" %>
    </div>
    <%= f.text_area :description, class: 'textarea textarea-bordered w-full h-24', placeholder: "感想などご自由に！" %>
  </label>

  <label class="form-control mb-5">
    <div class="label">
      <%= f.label :ink_id, class: "label-text" %>
    </div>
    <%= f.collection_select :ink_id, @user_inks, :id, :full_name, { include_blank: 'インクなし' }, { class: 'select select-bordered w-full' } %>
  </label>

  <div class="pt-8">
    <%= f.submit "登録", class: 'btn btn-primary w-full' %>
  </div>
  
<% end %>