<header>
  <div class="drawer drawer-end">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content flex flex-col">
      <div class="w-full h-fit navbar bg-base-100 bg-gradient-to-r from-blue-100 to-purple-100">

        <div class="flex-1 px-2 mx-2">          
          <%= link_to root_path do %>
            <%= image_tag('headerlogo_b.png', class: 'max-h-16') %>
          <% end %>
        </div>

        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </label>
        </div>

        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal">
            <li><%= link_to (t 'defaults.login'), login_path %></li>
            <li><%= link_to (t 'defaults.register'), new_user_path %></li>
            <li><%= link_to (t 'defaults.about'), root_path(anchor: "about") %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="drawer-side z-10">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-60 min-h-full bg-base-200">
        <li><%= link_to (t 'defaults.login'), profile_path, class: "block px-4 py-2 my-1 hover:bg-purple-100 rounded-full" %></li>
        <li><%= link_to (t 'defaults.register'), profile_path, class: "block px-4 py-2 my-1 hover:bg-purple-100 rounded-full" %></li>
        <li><%= link_to (t 'defaults.about'), profile_path, class: "block px-4 py-2 my-1 hover:bg-purple-100 rounded-full" %></li>
      </ul>
    </div>
  </div>
</header>