<header>
  <div class="drawer drawer-end">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content flex flex-col">
      <div class="w-full h-fit navbar bg-base-100 bg-gradient-to-r from-blue-200 to-purple-200">

        <div class="flex-1 px-2 mx-2">          
          <%= link_to root_path do %>
            <%= image_tag('headerlogo_b.png', class: 'max-h-16') %>
          <% end %>
        </div>

        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </label>
        </div>

        <%# 未ログイン時のNavメニュー %>
        <%#
        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal">
            <!-- Navbar menu content here -->
            <li><a>ログイン</a></li>
            <li><a>新規登録</a></li>
            <li><a>インクコレクションとは？</a></li>
          </ul>
        </div>
        %>

        <!-- ログイン時のナビゲーションメニュー -->
        <div class="flex-none hidden lg:block">
          <div class="flex items-center justify-center w-100">
            <div class="menu menu-horizontal">
              <div class="leading-10 block px-4 py-2 font-medium">インクを探す</div>
              <div>
                <input type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />                
              </div>
              <div class="leading-10 block px-4 py-2 font-medium">万年筆を探す</div>
              <div><input type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" /></div>
            </div>

            <!-- マイメニューのドロップダウン -->
            <div class="flex justify-end flex-1 px-2">
              <div class="flex items-stretch">
                <div class="dropdown dropdown-end">
                  <div tabindex="0" role="button" class="">
                    <div class="avatar">
                      <div class="rounded-full h-16 my-auto hover:opacity-80">
                        <%= image_tag('avatar.png', class: 'max-h-16')%>
                      </div>
                    </div>
                  </div>
                  <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
                    <li><%= link_to "ルカ’s Page", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li class="border-dotted border-b-4 border-purple-200"> </li>
                    <li><%= link_to "Pencase", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "My Ink", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "My Pen", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "Favorites", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li class="border-dotted border-b-4 border-purple-200"> </li>
                    <li><%= link_to "Logout", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div> 

    <%# 未ログイン時のサイドバー%>
    <%#
    <div class="drawer-side z-10">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-80 min-h-full bg-base-200">
        <li><a>ログイン</a></li>
        <li><a>新規登録</a></li>
        <li><a>インクコレクションとは？</a></li>
      </ul>
    </div>
    %>

    <div class="drawer-side z-10">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
      
      <div class="menu p-4 w-60 min-h-full bg-base-200">
        <div class="avatar">
            <%= link_to root_path do %>
              <%= image_tag('avatar.png', class: 'max-h-20 rounded-full')%>
            <% end %>              
        </div>

        <div class="mb-2">
          <%= link_to "ルカ’s Page", root_path, class: "block px-4 py-4 hover:bg-purple-100 rounded-full" %>
        </div>
        <ul class=" border-dotted border-b-4 border-t-4 border-purple-200">
          <li><%= link_to "Pencase", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
          <li><%= link_to "My Ink", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
          <li><%= link_to "My Pen", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
          <li><%= link_to "Favorites", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>    
        </ul>
        <div class="mt-2">
          <li><%= link_to "Logout", root_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
        </div>
      </div>
    </div>
  </div>
</header>