<header>
  <div class="drawer drawer-end">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content flex flex-col">
      <div class="w-full h-fit navbar bg-base-100 bg-gradient-to-r from-blue-100 to-purple-100">

        <div class="flex-1 px-2 mx-2">          
          <%= link_to root_path do %>
            <%= image_tag('headerlogo_b.png', class: 'max-h-16') %>
          <% end %>
        </div>

        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </label>
        </div>

        <!-- ナビゲーションメニュー -->
        <div class="flex-none hidden lg:block">
          <div class="flex items-center justify-center w-100">
            <div class="menu menu-horizontal">
              <div class="leading-10 block px-4 py-2 font-medium">インクを探す</div>
              <div>
                <%= render 'inks/search_form', url: inks_path %>  
              </div>
              <div class="leading-10 block px-4 py-2 font-medium">万年筆を探す</div>
                <%= render 'pens/search_form', url: pens_path %>
              </div>

            <!-- マイメニューのドロップダウン -->
            <div class="flex justify-end flex-1 px-2">
              <div class="flex items-stretch">
                <div class="dropdown dropdown-end">
                  <div tabindex="0" role="button" class="">
                    <div class="avatar">
                      <div class="rounded-full h-16 my-auto hover:opacity-80">
                        <%= image_tag current_user.avatar.url, class: 'max-h-16' %>
                      </div>
                    </div>
                  </div>
                  <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
                    <li><%= link_to "#{current_user.name}’s Page", profile_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li class="border-dotted border-b-4 border-purple-200"> </li>
                    <li><%= link_to "Pencase", profile_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "My Ink", mypage_inks_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "　＋ Ink", new_ink_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "My Pen", mypage_pens_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "　＋ Pen", new_pen_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li><%= link_to "Favorites", profile_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                    <li class="border-dotted border-b-4 border-purple-200"> </li>
                    <li><%= link_to "Logout", logout_path, data: {turbo_method: :delete}, class: "block px-4 py-2 hover:bg-purple-100 rounded-full" %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div> 

    <div class="drawer-side z-10">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
      
      <div class="menu p-4 w-60 min-h-full bg-blue-50">
        <div class="avatar">
            <%= link_to profile_path do %>
              <%= image_tag current_user.avatar.url, class: 'max-w-16 max-h-16 rounded-full hover:opacity-60' %>
            <% end %>              
        </div>

        <div class="mb-2">
          <%= link_to "#{current_user.name}’s Page", profile_path, class: "block px-4 py-2 my-1 hover:bg-purple-100 rounded-full" %>
        </div>
        <ul class="border-dotted border-b-4 border-t-4 border-purple-200">
          <li><%= link_to "My Ink", mypage_inks_path, class: "block px-4 py-2 my-1 hover:bg-purple-100 rounded-full" %></li>
          <li><%= link_to "My Pen", mypage_pens_path, class: "block px-4 py-2 my-1 hover:bg-purple-100 rounded-full" %></li>
        </ul>
        <div class="border-dotted border-b-4 border-purple-200 pb-4">
          <div class="leading-10 block px-4 py-2 font-medium">インクを探す</div>
          <%= render 'inks/search_form', url: inks_path %>  
          <div class="leading-10 block px-4 py-2 font-medium">万年筆を探す</div>
          <%= render 'pens/search_form', url: pens_path %>
        </div>
        <div class="mt-2">
          <div><%= link_to "Logout", logout_path, class: "block px-4 py-2 hover:bg-purple-100 rounded-full", data: {turbo_method: :delete} %></div>
        </div>
      </div>
    </div>
  </div>
</header>