<div class="flex justify-center mx-auto w-4/5">
  <div class='text-center max-w-lg w-full'>
    <div class=" mx-auto my-20 w-full my-4 border-dotted border-b-4 border-purple-200">
      <h1 class="w-full text-lg font-bold my-10 border-dotted border-b-4 border-purple-200 sm:text-2xl">プロフィール編集</h1>

      <div class="lg:flex">
        <div class="flex items-center flex-col lg:mb-32 lg:w-1/2">
          <%= image_tag 'avatar.png', class: 'rounded-full h-24 my-auto' %>
          <div class="my-4">
            <%= link_to "アイコン変更", root_path, class: "text-sm block px-5 py-4 bg-primary hover:opacity-80 rounded-full font-medium" %>
          </div>
        </div>

        <div class="w-full lg:w-1/2">
          <label class="form-control mb-5">
            <div class="label">
              <span class="label-text">Name</span>
            </div>
            <input type="text" placeholder="変更したい名前" class="input border-purple-200" />
          </label>

          <label class="form-control mb-5">
            <div class="label">
              <span class="label-text">Email</span>
            </div>
            <input type="text" placeholder="変更したいメールアドレス" class="input border-purple-200" />
          </label>

          <label class="form-control mb-14">
            <div class="label">
              <span class="label-text">Password</span>
            </div>
            <input type="text" placeholder="変更したいパスワード" class="input border-purple-200" />
          </label>
        </div>
      </div>

      <div class="mb-10"><%= link_to "更新", root_path, class: "block p-3 w-full bg-primary rounded-full hover:opacity-80 font-medium" %></div>
      <div class="my-10"><%= link_to "キャンセル", root_path, class: "block p-3 rounded-full hover:bg-purple-50 font-medium mb-10 border-2 border-primary" %></div>

    </div>
    <div class="my-10"><%= link_to "アカウント削除", root_path, class: "block p-3 w-full bg-secondary rounded-full hover:opacity-80 font-medium mt-8 mb-16" %></div>
  </div>
</div>